body{
background-color: darkblue;
margin: 0%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: aliceblue;
align-items: center;
justify-content: space-between;
padding: 20px;
display: flex;
}
h1{
color: rgb(214, 208, 121);
font-size: 30px;
}
input{
width: 400px;
height: 30px;
}
button{
background-color: darkseagreen;
width: 150px;
border-radius: 30px;
}
main{
padding: 20px;
background-color: aqua;
border-radius: 10px;
}
section{
display: flex;
align-items: center;
justify-content: space-around;
color: beige;
margin: 20px;
}
p{
width: 400px;
}
img{
width: 400px;
}