body{
background-color: darkblue;
margin: 0%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: aliceblue;
align-items: center;
justify-content: space-between;
padding: 20px;
display: flex;
}
h1{
color: rgb(214, 208, 121);
font-size: 30px;
}
input{
width: 400px;
height: 100px;
}
button{
background-color: darkseagreen;
width: 150px;
border-radius: 30px;
}